<div class="project">
  <div class="images-right">
    <img src="./assets/img/capmo.png" alt="Capmo" />
  </div>
  <div class="contents">
    <div class="project-header">
      <h3>Capmo</h3>
      <a
        class="project-link"
        href="https://apps.apple.com/de/app/capmo-3-0/id1592068282?l=en-GB"
        >Check it out</a
      >
    </div>
    <ul class="capsule">
      <li>Offline first app</li>
      <li>Swift</li>
      <li>SwiftUI</li>
      <li>SQLite</li>
      <li>DataDog</li>
      <li>GraphQL</li>
      <li>CircleCI</li>
      <li>Fastlane</li>
    </ul>
    <p>
      Capmo is a SaaS that targets construction professionals and general
      contractors.
    </p>
    <ul>
      <li>Bootstrapped iOS project at Capmo.</li>
      <li>
        POC with several "off-the-shelf" offline-first frameworks like AWS
        Amplify and MongoDB Realm.
      </li>
      <li>
        Ideation and implementation of a custom offline-first sync mechanism.
      </li>
      <li>Test automation (Unit, Snapshot, and UI).</li>
      <li>
        Implementation of best practices in the development workflow (Gitflow,
        Swiftformat, Swiftlint, Danger, CodeClimate).
      </li>
      <li>Modularization of the app using internal Swift Packages.</li>
      <li>
        Implementation and maintenance of the CI/CD pipeline (Fastlane, GitHub
        Actions, and CircleCI).
      </li>
      <li>
        Implementation of observability and debugging tools (Firebase and
        Datadog).
      </li>
    </ul>
  </div>
</div>
