@import 'highlighting.css';

@media only screen and (min-width: 960px) {
  html {
    width: 70%;
    max-width: 1000px;
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    width: 95%;
  }
}

html {
  margin-left: auto;
  margin-right: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.2em;
}
img {
  width: 75%;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img + em {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.541176);
  font-size: 0.8em;
}

footer {
  position: sticky;
  clear: both;
  text-align: center;
  font-size: 0.8em;
}

h1 {
  text-align: left;
  line-height: 1.2em;
}

h2 {
  line-height: 1.2em;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  border-left: 5px solid rgba(0, 0, 0, 0.0470588);
  padding: 0.5em 15px;
}

code {
  background-color: rgba(0, 0, 0, 0.0470588);
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  display: inline;
}

pre code {
  padding: 0pt;
}

.highlight {
  color: #f8f8f2;
  text-align: left;
  border-radius: 4pt;
  padding: 8pt !important;
  line-height: 1.4em;
  overflow: auto;
}