<div class="user-details">
  <h1>Hi! Nice to meet you 👋</h1>
  <p>{{site.user_description}}</p>
  <p>
    I'm a {{site.user_title}} at {{site.company}} where I work on
    {{site.user_focus}}.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Beyond mobile</h2>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    <i class="devicon-sqlite-plain"></i>
    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-swift-plain"></i>
    <i class="devicon-bash-plain"></i>

    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
  <div class="tech">
    <h2>DevOps</h2>
    <i class="devicon-githubactions-plain"></i>
    <i class="devicon-circleci-plain"></i>

    <p>
      Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia
      master cleanse. Vinyl XOXO lumbersexual
    </p>
  </div>
</div>
