<div class="user-details">
  <h1>Hi there! 👋</h1>
  <p>
    I'm Guillermo, originally from Barcelona (Spain) and currently living in
    Munich (Germany). I'm a software engineer with a passion for mobile
    development and a strong background in mobile devops. I love building
    beautiful products and I'm always looking for new challenges.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Beyond mobile</h2>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    <i class="devicon-sqlite-plain"></i>
    <p>
      My main focus is mobile development, but I also have experience with cloud
      infrastructure and databases. AWS, SQL, Firebase, or this website. You
      name it!
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-swift-plain"></i>
    <i class="devicon-bash-plain"></i>
    <p>
      My bread and butter is Swift and I've been working with it since 2016. I
      also have experience with other languages like Python, Ruby, and Bash.
    </p>
  </div>
  <div class="tech">
    <h2>DevOps</h2>
    <i class="devicon-githubactions-plain"></i>
    <i class="devicon-circleci-plain"></i>
    <p>
      Building and maintaining CI/CD pipelines is one of my favorite things to
      do. I have experience with GitHub Actions, CircleCI, and Bitrise. I tend
      to look for developer experience and automation in everything I do.
    </p>
  </div>
</div>
