#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  flex: 1;
  padding: 10px;
  align-items: center;
  gap: 10px;
  i,
  img {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    padding: 10px;
    font-size: 48px;

    &:hover {
      color: coral;
    }
  }
}

.user {
  display: flex;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  // @media only screen and (min-width: $cut) {
  //   flex-wrap: nowrap;
  //   font-size: 40px;
  // }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
