#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.user-projects {
  margin: auto;
  padding: 16px;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.project-reverse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.project-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 32px;

  h3 {
    padding: 0;
    margin: 0;
  }
}

.images-right {
  width: 30%;
}

.divider {
  width: 80px;
  height: 1px;
  background-color: gainsboro;
  margin: 16px auto;
}

.project-link {
  font-size: 0.75em;
  display: inline-block;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid coral;
  color: coral;
  background-color: white;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition:
    color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
  &:hover,
  &:active {
    color: white;
    background-color: coral;
    border: 1px solid coral;
    @include transition(all 0.3s ease-in);
  }
}
